h1{
	padding: 5px;
}

h2{
	font-weight:bold;
	font-size:100%;
}

body{
	margin:25px;
}

form{
	padding:10px;
}

#code{
	margin-top:5px;
	margin-bottom:5px;
	width:450px;
	margin-left:60px;
	border:solid 1px black;
	padding:10px;
}

#alt{
	margin-top:5px;
	margin-bottom:5px;
	padding:20px;
	width:430px;
	margin-left:60px;
	border:solid 1px;
}

a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
   font-weight:bold;
}

#bold{
	font-weight:bold;
}